<div>
  <h1>Listing of Libraries</h4>
  <% for library in @libraries %>
    <% if !library.nil? %>
      <p><a href="/libraries/show?id=<%= library.id %>"><%= library.title %></a></p>
    <% end %>
  <% end %>
  <form action="/libraries/new" method="post">
    <input type="submit" value="Add library">
  </form>
</div>
