<div>
  <h1>New Library Record</h1>
  <form action="/libraries/create" method="post">
    <label>
      Title: <input type="text" name="title" size="35" value="">
    </label>
    <br>
    <input type="submit" value="Save Library">
  </form>
  <a href="/libraries/index">Back to index</a>
</div>
