<div>
	<h1>Listing of Books</h4>
	<% for book in @books %>
		<% if !book.nil? %>
			<p><a href="/books/show?id=<%= book.id %>"><%= book.title %></a></p>
		<% end %>
	<% end %>
	<form action="/books/new" method="post">
		<input type="submit" value="Add Book">
	</form>
</div>

