<div>
  <h1>Listing of Books</h4>
  <% for book in @books %>
    <% if !book.nil? %>
      <p><a href="/books/<%= book.id %>/show"> <%= book.title %> </a>
        by <%= book.author %>
      </p>
    <% end %>
  <% end %>
  <form action="/books/new" method="post">
    <input type="submit" value="Add Book">
  </form>
</div>
