<div>
  <h1>New Book Record</h1>
  <form action="/books/create" method="post">
    <label>
      Title: <input type="text" name="title" size="35" value="">
    </label>
    <br>
    <label>
      Author: <input type="text" name="author" size="35" value="">
    </label>
    <br>
    <label>
      Pages: <input type="text" name="pages" size="35" value="">
    </label>
    <br>
    <input type="submit" value="Save Book">
  </form>
  <a href="/books/index">Back to Index</a>
</div>
